In [2]:
import pandas as pd
import numpy as np

# Series

## Series
- numpy는 인덱스가 자동생성이지만 series는 지정가능

In [4]:
a1 = pd.Series([1,2,3])
# 기본 인덱스 숫자로 생성 
a1

0    1
1    2
2    3
dtype: int64

In [5]:
a2 = pd.Series(['a','b','c'])
a2

0    a
1    b
2    c
dtype: object

In [6]:
a3 = pd.Series(np.arange(200))
a3

0        0
1        1
2        2
3        3
4        4
5        5
6        6
7        7
8        8
9        9
10      10
11      11
12      12
13      13
14      14
15      15
16      16
17      17
18      18
19      19
20      20
21      21
22      22
23      23
24      24
25      25
26      26
27      27
28      28
29      29
      ...
170    170
171    171
172    172
173    173
174    174
175    175
176    176
177    177
178    178
179    179
180    180
181    181
182    182
183    183
184    184
185    185
186    186
187    187
188    188
189    189
190    190
191    191
192    192
193    193
194    194
195    195
196    196
197    197
198    198
199    199
Length: 200, dtype: int32

- index도 함꼐 명시하기

In [8]:
a4 = pd.Series([1,2,3],['di',200,300])
a4

di     1
200    2
300    3
dtype: int64

In [10]:
a5 = pd.Series(np.arange(5),np.arange(100,105),dtype=np.int16)
a5

100    0
101    1
102    2
103    3
104    4
dtype: int16

In [11]:
a5.index

Int64Index([100, 101, 102, 103, 104], dtype='int64')

In [14]:
a5.values

2

In [17]:
a5[104]=80

In [18]:
a5

100     0
101     1
102     2
103     3
104    80
dtype: int16

In [20]:
# index값이 없었으면 추가됨
a5[105] = 90
a5

100     0
101     1
102     2
103     3
104    80
105    90
dtype: int64

In [21]:
a = pd.Series([1,2,2,1,2,4,2,1,2,1,2,4,2,1,2,3,5,5,np.NaN])
# NaN을 이용해 무시하는 카운트를 사용한다
a

0     1.0
1     2.0
2     2.0
3     1.0
4     2.0
5     4.0
6     2.0
7     1.0
8     2.0
9     1.0
10    2.0
11    4.0
12    2.0
13    1.0
14    2.0
15    3.0
16    5.0
17    5.0
18    NaN
dtype: float64

In [23]:
len(a)
# NaN 포함

19

In [24]:
a.size

19

In [26]:
a.shape

(19,)

In [28]:
a.unique()
# 중복을 제외하고 존재하는 값을 보여준다

array([ 1.,  2.,  4.,  3.,  5., nan])

In [30]:
a.count()
# NaN 제외

18

In [33]:
a1 = np.array([2,2,2,2,np.NaN])
a1.mean()
# numpy는 NaN이 있으면 계산을 못함

a2 = pd.Series(a1)
a2.mean()
# NaN을 무시하고 계산을 한다

2.0

In [34]:
a.value_counts()

2.0    8
1.0    5
5.0    2
4.0    2
3.0    1
dtype: int64

- index를 활용하여 멀티플한 값에 접근

In [38]:
a[[5,7,8]].value_counts()

2.0    1
1.0    1
4.0    1
dtype: int64

In [37]:
temp=[5,7,8]
a[temp]

5    4.0
7    1.0
8    2.0
dtype: float64

In [39]:
a1 = pd.Series([1,2,3,4],['a','b','c','d'])
a2 = pd.Series([4,3,6,1],['d','c','b','a'])

a1

a    1
b    2
c    3
d    4
dtype: int64

In [40]:
a2

d    4
c    3
b    6
a    1
dtype: int64

In [41]:
a1 + a2
# 같은 인덱스끼리 연산을 실행한다

a    2
b    8
c    6
d    8
dtype: int64

In [42]:
a1 ** 2
# 스칼라 연산

a     1
b     4
c     9
d    16
dtype: int64

In [43]:
a1['k']=2
a2['h']=6

In [44]:
a1

a    1
b    2
c    3
d    4
k    2
dtype: int64

In [45]:
a2

d    4
c    3
b    6
a    1
h    6
dtype: int64

In [46]:
a1 * a2
# a1에 k인덱스가 a2에 없고 a2의 h인덱스가 a2에 없으므로 연산값이 NaN으로 나온다

a     1.0
b    12.0
c     9.0
d    16.0
h     NaN
k     NaN
dtype: float64

In [49]:
a = pd.Series(np.arange(10),np.arange(10)+1)
a

1     0
2     1
3     2
4     3
5     4
6     5
7     6
8     7
9     8
10    9
dtype: int32

In [50]:
a>5

1     False
2     False
3     False
4     False
5     False
6     False
7      True
8      True
9      True
10     True
dtype: bool

In [53]:
a[a>5]

7     6
8     7
9     8
10    9
dtype: int32

In [54]:
a.index>5

array([False, False, False, False, False,  True,  True,  True,  True,
        True])

In [55]:
a[a.index>5]  # 인덱스로 필터링

6     5
7     6
8     7
9     8
10    9
dtype: int32

In [56]:
(a>7).sum()  # 조건을 만족하는 개수

2

In [57]:
a[a>7].sum() # 조건을 만족하는 value의 합

17

In [58]:
a = pd.Series(np.arange(100,105),['a','b','c','d','e'])
a

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [60]:
# 인덱스에 값이 있으면 수정이되고 없으면 업데이트 된다
a['a']=200
a

a    200
b    101
c    102
d    103
e    104
dtype: int32

In [61]:
a['k']= 500
a

a    200
b    101
c    102
d    103
e    104
k    500
dtype: int64

In [63]:
a.drop('c')
# 원본을 바꾸는게 아니다
# 복사본을 생성해서 복사본에서 연산을 하는것

a    200
b    101
d    103
e    104
k    500
dtype: int64

In [64]:
a.drop('c',inplace=True)
a
# 호출한 객체에서 바로 연산을 해서 원본도 변경된다

a    200
b    101
d    103
e    104
k    500
dtype: int64

In [65]:
a

a    200
b    101
d    103
e    104
k    500
dtype: int64

In [68]:
mul=['a','e']
a[mul]=[200,200]
a

a    200
b    101
d    103
e    200
k    500
dtype: int64

In [69]:
a1 = pd.Series(np.arange(100,105))
a1

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [70]:
a1[1:3]

1    101
2    102
dtype: int32

In [74]:
a2 = pd.Series(np.arange(100,105),['a','c','b','d','e'])
a2

a    100
c    101
b    102
d    103
e    104
dtype: int32

In [75]:
a2[1:3]  #인덱스가 문자열이어도 순서로서 가져오는것이 가능하다

c    101
b    102
dtype: int32

In [77]:
a2['c':'d'] #  알파벳 순서가 아닌 그대로 인덱싱 순서대로 읽어옴

c    101
b    102
d    103
dtype: int32